// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: grey;
}

p.letters{
  letter-spacing: 0.8em;
  font-size: 26px;
  font-family: 'Courier New', Courier, monospace;
}

p, h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
